
<template name="about">

 <div class="container">
    
     <div id="content">
     <h1>   About this project</h1>
    <hr>

		<h2>Sample Web Drawing App</h2>
		<hr>
		
		<p>
<h3>The website must extend the example, adding collaborative drawing features.

The site can have any number of pages as long as there is a clear purpose for each one. It must have the following features:

<hr>

<li>Clear navigation allowing the user to move between pages/ functions and to locate relevant information</li>

<li>Consistent style across the pages through use of CSS</li>

<li>Responsive layout where the layout changes depending on the size of the browser window</li>

<li>Use of Bootstrap</li>

<li>Clearly stated purpose for each page</li>

<li>Clear landing page (this might just be a special page that introduces the site, or some instructions)</li>

<li>It should allow the user to specify at least 16 colours, 3 drawing methods (e.g. different brushes, line thickness, or other style feature) and a save or export function.</li>

</h3>
		 </p>
	

	</div><!--#/content-->
</div><!--#/container-->

</template>
  