<template name="header">

<nav class="navbar navbar-default" role="navigation">
  
  
 <div class="container-fluid">
      <div id="navbar">
      
        <a href="/" class="navbar-brand">Doodle</a>
        
         <!-- start collapsed navbar-->
      <div class="navbar-header">
        <button 
        type="button" 
        class="navbar-toggle collapsed" 
        data-toggle="collapse" 
        data-target="#main_navbar" 
        aria-expanded="false">Menu</button>
     </div><!-- / collapsed navbar-->
      
   
   
      
   <div class="collapse navbar-collapse" id="main_navbar">
        <ul class="nav navbar-nav navbar-left">
        <li><a href="/about" id="nav-about">About</a></li>
		</ul>
          
  </div><!-- / collapsed navbar-->

    </div> <!-- /div id-->
  </div> <!-- /container-->
</nav>
</template>